<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Base[10]</title>
    <!--<base href="/">-->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <link href="./styles.css" rel="stylesheet">
    <script src="lib/jquery-3.1.1.min.js"></script>
    <script src="lib/require.min.js"></script>

</head>
<body style="min-height: 100vh;">

    <div class="col f1 cascade" style="width: 100vw; height: 100vh; position: relative;">

        <div id="top" class="light row f1" style="background-color: transparent">

            <div class="hover f1 ">
                <div class="image" style="background:url(assets/orange2.jpg) #1A1A1A center"></div>
                <div class="cover orange"></div>
                <div class="cover orange"></div>
                <div class="cover orange"></div>
                <div class="f1"></div>
                <h1>Duncan Walter</h1>
                <p>Armor Type: Graphic T</p>
                <p>Key Stats: Initiative, Creativity</p>
                <p>Alignment: Chaotic Good</p>
                <a class="button" href="assets/documents/Duncan%20Walter%20Resume.pdf" target="_blank"><b>ResumÈ</b></a>
                <div class="f1"></div>
            </div>

            <div id="top-insert"></div>

            <div class="hover f1 ">
                <div class="image" style="background:url(assets/shattered-dark.png) #FFFFFF center"></div>
                <div class="cover light"></div>
                <div class="f1"></div>
                <h1>ENIGMAGON</h1>
                <p>An interactive, mesmerizing audio visualizer in the browser.</p>
                <div class="row">
                    <a class="button" href="assets/demos/enigmagon.html" target="_blank"><b>EXPERIENCE</b></a>
                    <a class="button" href="assets/Demos.zip" download><b>DOWNLOAD</b></a>
                </div>
                <div class="f1"></div>
            </div>
        </div>


        <!--<div id="mid" class="row" style="height: 0">-->
            <!--<div class="col f1" style="background:#FA4D77">-->
                <!--<div class="f1"></div>-->

                <!--<div class="f1"></div>-->
            <!--</div>-->
            <!--<div class="col TEN">-->
                <!--<div class="f1"></div>-->

                <!--<div class="f1"></div>-->
            <!--</div>-->
            <!--<div class="col f1" style="background:#aafa26">-->
                <!--<div class="f1"></div>-->

                <!--<div class="f1"></div>-->
            <!--</div>-->
        <!--</div>-->


        <div id="bot" class="dark row f1" style="background-color: transparent">
            <div class="hover f1 ">
                <div class="image" style="background:url(assets/45-degree-fabric-light.png) #111111 center"></div>
                <div class="cover dark"></div>
                <div class="f1"></div>
                <h1>HEX-SCAPE</h1>
                <p>A procedural map generator and navigator for strategy games.</p>
                <div class="row">
                    <a class="button" href="assets/demos/map-generator.html" target="_blank"><b>EXPERIENCE</b></a>
                    <a class="button" href="assets/Demos.zip" download><b>DOWNLOAD</b></a>
                </div>
                <div class="f1"></div>
            </div>

            <div id="bot-insert"></div>

            <div class="hover f1 ">
                <div class="image" style="background:url(assets/blue2.jpg) #1A1A1A center"></div>
                <div class="cover teal"></div>
                <div class="cover teal"></div>
                <div class="cover teal"></div>
                <div class="f1"></div>
                <h1>Eli Jergensen</h1>
                <p>Armor Type: Jorts</p>
                <p>Key Stats: Constitution, Willpower</p>
                <p>Alignment: Lawful Good</p>
                <a class="button" href="assets/documents/Eli%20Jergensen%20Resume.pdf" target="_blank"><b>ResumÈ</b></a>
                <div class="f1"></div>
            </div>

        </div>

    </div>
    <script src="src/Main.js"></script>
</body>
</html>
