<div class="row container" style="margin-bottom: 0">
  <div class="col s12">
    <div id="" class="card" [style.color]="article.color" style="transition: height 0.7s">
      <div class="card-content center-align" [style.background-color]="article.bgColorLight">
        <h3><b>[</b> {{article.title}} <b>]</b></h3>
      </div>
      <div class="card-image">
        <img [src]="'../../assets/articles/'+article.path+'/image.jpg'" style="object-fit:cover;max-height:80pt;">
      </div>
      <div style="padding-top:23px" class="card-content" [style.background-color]="article.bgColorMed">
        <div style="width:89%;margin-left:5.5%;text-align:justify" class="content flow-text" id="content">
          <p class="center-align">LOADING CONTENT</p>
        </div>
      </div>
      <div class="card-content center-align" [style.background-color]="article.bgColorDark">
        <button (click)="navigate(router,'home/contacts');" [style.color]="article.color" style="cursor: hand">
          <p>CREATED BY</p>
          <p><b> [ </b><b class="white-text">SL4M</b><b> | </b><b class="black-text">E3LS</b><b> ] </b></p>
        </button>
      </div>
    </div>
  </div>
</div>
