<div class="row container fadein" style="margin-bottom: 0">
  <div class="col s12">
    <div id="" class="card" [style.color]="color" style="transition: height 0.7s">
      <div class="card-content center-align" [style.background-color]="bgLight">
        <h3><b>[</b> {{title}} <b>]</b></h3>
      </div>
      <div class="card-image">
        <img id="image" style="object-fit:cover;max-height:80pt;">
      </div>
      <div style="padding-top:23px" class="card-content" [style.background-color]="bgMed">
        <div style="width:89%;margin-left:5.5%;text-align:justify" class="content flow-text" id="content">
          <p class="center-align">LOADING CONTENT</p>
        </div>
      </div>
      <div class="card-content center-align" [style.background-color]="bgDark">
        <a routerLink="/home/contacts" fragment="top" routerLinkActive="active" [style.color]="color">
          <p>CREATED BY</p>
          <p><b> [ </b><b class="white-text">SL4M</b><b> | </b><b class="black-text">E3LS</b><b> ] </b></p>
        </a>
      </div>
    </div>
  </div>
</div>
