<div class="row container grey-text text-darken-2" style="overflow-clip: true;display:flex">
  <div id="duncan" class="col slider">
    <div class="card hoverable brown-text text-darken-4">
      <!--pre-allocated header image height-->
      <div class="card-content amber lighten-5 center-align">
          <h4><b>Duncan H. Walter</b></h4>
          <p>duncanwalter@base10studios.com</p>
      </div>
      <div class="card-image">
        <img src="../../assets/Sparks.jpg" style="object-fit:cover;max-height:80pt;">
      </div>
      <div class="card-content amber lighten-4">
        <p style="padding-bottom:3px"><b>Class:</b> Rogue Hacker </p>
        <p style="padding-bottom:3px"><b>Level:</b> 19</p>
        <p style="padding-bottom:3px"><b>Armor Type:</b> Graphic T</p>
        <p style="padding-bottom:3px"><b>Key Stats:</b> Initiative, Creativity</p>
        <p style="padding-bottom:3px"><b>Alignment:</b> Chaotic Good </p>
        <!--<p style="padding-bottom:3px"><b>Conquests:</b> Google-Foo: Having achieved balance between curiosity and ignorance, Duncan was accepted as an-->
          <!--honorary member into the fold of Google-Foo masters.  </p>-->
      </div>
      <div class="card-content amber lighten-3">
        <p style="padding-bottom:3px"><b>Toungues:</b> JavaScript, Java, Haskell, HTML, Css </p>
        <p style="padding-bottom:3px"><b>Guilds:</b> Git, Angular JS, OpenGL, Firebase, Linux, & co. </p>
        <p ><b>Traits:</b></p>
        <p >Bull-Headed: Not to be confused with "Leader"</p>
        <p >Self Teacher: With an emphasis on Google-Foo</p>
        <p style="padding-bottom:3px">Peripatetic: A perpetual motion machine powered by chocolate</p>

        <p style="padding-bottom:3px"><b>Affinities:</b> Music, Doodling, Dark Chocolate </p>
        <p style="padding-bottom:3px"><b>Aversions:</b> Styrofoam </p>
      </div>
      <div class="card-content amber lighten-4" style="white-space:nowrap">
        <p>I  </p>
      </div>
    </div>
    <!--<div class="row">-->
      <!--<div class="col s3">-->
        <!--<div class="card-panel amber lighten-3 square hoverable"></div>-->
      <!--</div>-->
      <!--<div class="col s4">-->
        <!--<div class="card-panel amber lighten-4 square hoverable"></div>-->
      <!--</div>-->
      <!--<div class="col s5">-->
        <!--<div class="card-panel amber lighten-5 square hoverable"></div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
  <div id="eli" class="col slidel">
    <div class="card hoverable teal-text text-darken-4">
      <div class="card-content teal lighten-5 center-align">
        <h4><b>G. Eli Jergensen</b></h4>
        <p>gelijergensen@base10studios.com</p>
      </div>
      <div class="card-image">
        <img src="../../assets/Embers.jpg" style="object-fit:cover;max-height:80pt;">
      </div>
      <div class="card-content teal lighten-4">
        <p style="padding-bottom:3px"><b>Class:</b> Noble-Techie</p>
        <p style="padding-bottom:3px"><b>Level:</b> 19</p>
        <p style="padding-bottom:3px"><b>Armor Type:</b> Jorts</p>
        <p style="padding-bottom:3px"><b>Key Stats:</b> Constitution, Willpower </p>
        <p style="padding-bottom:3px"><b>Alignment:</b> Lawful Good </p>
        <!--<p style="padding-bottom:3px"><b>Conquests:</b> Anti-Predictor: A long sought after and much coveted anomaly, Eli is an anti-predictor. While the exact mechanism of his inaccuracy-->
          <!--is as-of-yet not understood, it is known that Eli cannot predict his own anti-predictions.  </p>-->
      </div>
      <div class="card-content teal lighten-3">
        <p style="padding-bottom:3px"><b>Toungues:</b> JavaScript, Java, Perl, HTML, Css </p>
        <p style="padding-bottom:3px"><b>Guilds:</b> Git, OpenGL, Linux & co. </p>
        <p ><b>Traits:</b></p>
        <p >Completionist: </p>
        <p > </p>
        <p style="padding-bottom:3px"> </p>

        <p style="padding-bottom:3px"><b>Affinities:</b> Mathematics,  </p>
        <p style="padding-bottom:3px"><b>Aversions:</b> Avocado </p>
      </div>
      <div class="card-content teal lighten-4">
        <p> </p>
      </div>
    </div>
    <!--<div class="row">-->
      <!--<div class="col s6">-->
        <!--<div class="card-panel teal lighten-5 square hoverable"></div>-->
      <!--</div>-->
      <!--<div class="col s4">-->
        <!--<div class="card-panel teal lighten-4 square hoverable"></div>-->
      <!--</div>-->
      <!--<div class="col s2">-->
        <!--<div class="card-panel teal lighten-3 square hoverable"></div>-->
      <!--</div>-->
    <!--</div>-->
  </div>

</div>

