<div class="row container grey-text text-darken-2" style="overflow-clip: true;display:flex">
  <div id="duncan" class="col slider profile">

    <div class="card hoverable brown-text text-darken-4" style="position:relative;background: url(/../../assets/blue2.jpg) center;object-fit: cover">
      <div class="card-content amber lighten-5 center-align">
          <h4><b>Duncan H. Walter</b></h4>
          <p>duncanwalter@base10studios.com</p>
      </div>
      <div class="card-image">
        <img src="../../assets/code.jpg" style="object-fit:cover;max-height:80pt;">
      </div>
      <div class="card-content amber lighten-4">
        <p style="padding-bottom:3px"><b>Class:</b> Rogue Hacker </p>
        <p style="padding-bottom:3px"><b>Level:</b> 19</p>
        <p style="padding-bottom:3px"><b>Training:</b> Computer Science, OU</p>
        <p style="padding-bottom:3px"><b>Armor Type:</b> Graphic T</p>
        <p style="padding-bottom:3px"><b>Key Stats:</b> Initiative, Creativity</p>
        <p style="padding-bottom:3px"><b>Alignment:</b> Chaotic Good </p>
      </div>
      <div class="card-content amber lighten-3">
        <p style="padding-bottom:3px"><b>Toungues:</b> JavaScript, Java, Haskell, HTML, Css </p>
        <p style="padding-bottom:3px"><b>Guilds:</b> Git, Angular JS, OpenGL, Firebase, Linux, & co. </p>
        <hr>
        <p style="padding-bottom:3px"><b>Autodidact:</b> An arcane, generic form of Google-Foo</p>
        <p style="padding-bottom:3px"><b>Peripatetic:</b> A perpetual motion machine powered by curiosity</p>
        <p style="padding-bottom:3px"><b>Aesthete:</b> Functional and practical are only half the battle</p>
        <hr>
        <p style="padding-bottom:3px"><b>Affinities:</b> Music, Doodling, Dark Chocolate </p>
        <p style="padding-bottom:3px"><b>Aversions:</b> Styrofoam </p>
      </div>
      <div class="card-content amber lighten-4" style="display:flex;padding-left:0.75rem;padding-right:0.75rem">
        <a target="_blank" href="https://www.linkedin.com/in/duncanwalter" class="slam flex"><b>LINKEDIN</b></a>
        <!--<a href="/images/myw3schoolsimage.jpg" download="w3logo">-->
        <div class="slam flex"><b>RESUME</b></div>
      </div>
    </div>
  </div>
  <div id="eli" class="col slidel profile">
    <div class="card hoverable teal-text text-darken-4" style="background: url(/../../assets/orange2.jpg) center;object-fit: cover">
      <div class="card-content teal lighten-5 center-align">
        <h4><b>G. Eli Jergensen</b></h4>
        <p>gelijergensen@base10studios.com</p>
      </div>
      <div class="card-image">
        <img src="../../assets/binary.jpg" style="object-fit:cover;max-height:80pt;">
      </div>
      <div class="card-content teal lighten-4">
        <p style="padding-bottom:3px"><b>Class:</b> Noble-Techie</p>
        <p style="padding-bottom:3px"><b>Level:</b> 19</p>
        <p style="padding-bottom:3px"><b>Training:</b> Math, Physics, OU</p>
        <p style="padding-bottom:3px"><b>Armor Type:</b> Jorts</p>
        <p style="padding-bottom:3px"><b>Key Stats:</b> Constitution, Willpower </p>
        <p style="padding-bottom:3px"><b>Alignment:</b> Lawful Good </p>
        <!--<p style="padding-bottom:3px"><b>Conquests:</b> Anti-Predictor: A long sought after and much coveted anomaly, Eli is an anti-predictor. While the exact mechanism of his inaccuracy-->
          <!--is as-of-yet not understood, it is known that Eli cannot predict his own anti-predictions.  </p>-->
      </div>
      <div class="card-content teal lighten-3">
        <p style="padding-bottom:3px"><b>Toungues:</b> JavaScript, Java, Perl, HTML, Css </p>
        <p style="padding-bottom:3px"><b>Guilds:</b> Git, OpenGL, Linux & co. </p>
        <hr>
        <p style="padding-bottom:3px"><b>Completionist:</b> </p>
        <p style="padding-bottom:3px"><b>Assiduous:</b> </p>
        <p style="padding-bottom:3px"><b>Initiable:</b> </p>
        <hr>
        <p style="padding-bottom:3px"><b>Affinities:</b> Mathematics,  </p>
        <p style="padding-bottom:3px"><b>Aversions:</b> Avocado </p>
      </div>
      <div class="card-content teal lighten-4" style="display:flex;padding-left:0.75rem;padding-right:0.75rem">
        <a target="_blank" href="https://www.linkedin.com/in/g-eli-jergensen" class="eels flex"><b>LINKEDIN</b></a>
        <div class="eels flex"><b>RESUME</b></div>
      </div>
    </div>
  </div>
</div>

