<b10-header></b10-header>
<div class="row container grey-text text-darken-2">
  <div class="col s12 l6">
    <div class="card hoverable">
      <div class="card-content amber lighten-5 center-align">
        <h4><b>Duncan "SL4M" Walter</b></h4>
        <p>duncanwalter@base10studios.com</p>
      </div>
      <div class="card-content amber lighten-4">
        <p style="padding-bottom:3px"><b>Class:</b> Code-Monkey</p>
        <p style="padding-bottom:3px"><b>Level:</b> 19</p>
        <p style="padding-bottom:3px"><b>Armor Type:</b> Geeky T-Shirt</p>
        <p style="padding-bottom:3px"><b>Key Stats:</b> Initiative, Creativity</p>
        <p style="padding-bottom:3px"><b>Conquests:</b> Google-Foo: Having achieved balance between curiosity and ignorance, Duncan was accepted as an
          honorary member into the fold of Google-Foo masters. While he doesn't like to brag, he is certainly not above it.  </p>
      </div>
      <div class="card-image">
        <img src="../../assets/Sparks.jpg" style="object-fit:cover;max-height:80pt;">
      </div>
      <div class="card-content amber lighten-3">
        <p style="padding-bottom:3px"><b>Alignment:</b> Chaotic Good </p>
        <p style="padding-bottom:3px"><b>Quests:</b>  </p>
        <p style="padding-bottom:3px"><b>BackStory:</b> </p>
        <!--<p style="padding-bottom:3px"><b>Armor Type:</b> Geeky T-Shirt</p>-->
      </div>
    </div>
  </div>
  <div class="col s12 l6">
    <div class="card hoverable">
      <div class="card-image">
        <img src="../../assets/Embers.jpg" style="object-fit:cover;max-height:80pt;">
        <span class="card-title grey-text text-darken-3"><b>Eli "E3LS" Jergensen</b></span>
      </div>
      <div class="card-content white">
        <p style="padding-bottom:3px"><b>Class:</b> Code-Monkey</p>
        <p style="padding-bottom:3px"><b>Level:</b> 19</p>
        <p style="padding-bottom:3px"><b>Armor Type:</b> Jorts</p>
        <p style="padding-bottom:3px"><b>Key Stats:</b> Constitution, </p>
        <p style="padding-bottom:3px"><b>Conquests:</b> Anti-Predictor: A long sought after and much coveted anomaly, Eli is an anti-predictor. While the exact mechanism of his inaccuracy
          is as-of-yet not understood, it is known that Eli cannot predict his own anti-predictions, let alone anyone else's. It is thought that this power may one day be harnessed to make
          bolder, more accurate forecasts... but then again, that was Eli's thought. Don't count on it.  </p>
      </div>
    </div>
  </div>

</div>

