<div class="row container">
  <ul style="margin:0;padding:0;">
    <li *ngFor="let column of layout">
      <div class="col s12 m6 l4">
        <ul>
          <li *ngFor="let article of column">
            <a routerLink="/home/articles/{{article.key}}" routerLinkActive="active">
              <div style="position:relative" class="card white hoverable">
                <div class="card-image">
                  <img src="../../assets/Embers.jpg" style="object-fit:cover;max-height:80pt;">
                </div>
                <div class="card-content" [style.color]="article.color" [style.background-color]="article.bgColorLight">
                  <p>{{article.type}}</p>
                  <p><b>{{article.title}}</b></p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
