<div class="row container">
  <div class="col s6">
    <ul>
      <li *ngFor="let article of articles">
        <div class="card-panel white">
          <h1 class="center-align grey-text text-darken-2 truncate"><{{article.title}}></h1>
        </div>
      </li>
    </ul>
  </div>
  <div class="col s6">
    <ul>
      <li *ngFor="let article of articles">
        <div style="position:relative" class="card-panel white">
          <h1 class="center-align grey-text text-darken-2 truncate"><{{article.title}}></h1>
          <a routerLink="/home/articles/{{article.key}}" routerLinkActive="active" style="position:absolute;top:0;left:0;width:100%;height:100%;"></a>
        </div>
      </li>
    </ul>
  </div>
</div>
