@keyframes slideinu {
  0%   {opacity:0;position:relative;top:13rem}
  100% {opacity:1;position:relative;top:0}
}

.slidein {
  animation-name: slideinu;
  animation-duration: 1.1s;
  animation-timing-function: ease;
}
