<router-outlet></router-outlet>
<div class="row container" >
  <ul style="margin:0;padding:0;">
    <li *ngFor="let row of articles">
      <div style="width:100%">
        <ul style="display:flex;">
          <li *ngFor="let article of row" class="flex">
            <a routerLink="/home/articles/{{article}}">
              <div class="card hoverable slidein" style="margin-left:0.75rem;margin-right:0.75rem;position:relative;">
                <div class="pane" [style.background-color]="article.bgColorDark"></div>
                <div class="card-image" style="min-height:80pt">
                  <img [src]="'../../assets/articles/'+article+'/image.jpg'" style="object-fit:cover;max-height:80pt;">
                </div>
                <div class="card-content" [style.color]="article.color" [style.background-color]="article.bgColorLight">
                  <p>{{article}}</p>
                  <p><b>{{article}}</b></p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
