<div style="position:fixed;left:0;right:0;top:0;bottom:0;">
  <div class="row" style="margin: 1.5rem 0.75rem 0;height:100%;">
    <div class="col s9" style="height:100%">
      <div class="card paint background hoverable" style="position:relative;height:calc(50% - 2.25rem);padding-top:2.2rem;">
        <div id="scroll-container" class="card-content" style="height:100%;overflow-y:auto;padding:0;">
          <table>
            <thead>
              <tr>
                <th>NAM<div>UNIT</div></th>
                <th>DUR<div>DEFENCE</div></th>
                <th>DMG<div>OFFENCE</div></th>
                <th>CRT<div>TACTICS</div></th>
                <th>VAL<div>QUALITY</div></th>
              </tr>
            </thead>
            <tbody>
              <tr style="font-weight: bold">
                <td>REF</td>
                <td>54</td>
                <td>33</td>
                <td>554</td>
                <td class="input"><input title="val" size="1" type="text"></td>
              </tr>
              <tr *ngFor="let unit of units">
                <td>LNG</td>
                <td>89</td>
                <td>32</td>
                <td>12</td>
                <td>34</td>
              </tr>
            </tbody>
          </table>
          <button style="position:absolute;right:2.3rem;bottom:1.2rem;background-color:rgba(0,0,0,0.43);color:#dad6a9;" class="btn-floating btn-large hoverable">
            <i class="material-icons">add</i>
          </button>
        </div>
      </div>
      <div class="card paint background hoverable" style="position:relative;height:calc(50% - 2.25rem);">
        <div class="card-content" STYLE="padding-left:0;padding-right:0;">
          <div class="row">
            <div class="col fill s6">
              <input type="text" placeholder="UNIT" size="1" style="font-size: 200%;width:100%;height:3rem;">
            </div>
            <div class="col fill s6">
              <input type="text" placeholder="TAGS" size="1" style="font-size: 200%;width:100%;height:3rem;">
            </div>

            <div class="col fill s1">
              <input type="text" placeholder="SIZE" size="1" style="width:100%">
            </div>
            <div class="col fill s1">
              <input type="text" placeholder="SPEED" size="1" style="width:100%">
            </div>
            <div class="col fill s1">
              <input type="text" placeholder="HEALTH" size="1" style="width:100%">
            </div>
            <div class="col fill s1">
              <input type="text" placeholder="ARMOR" size="1" style="width:100%">
            </div>
            <div class="col fill s1">
              <input type="text" placeholder="BONUS-ARMOR" size="1" style="width:100%">
            </div>
            <div class="col fill s7">
              <input type="text" name="TAGS" placeholder="TAGS" size="1" style="width:100%">
            </div>

            <div class="col fill s1">
              <input type="text" placeholder="DAMAGE" size="1" style="width:100%">
            </div>
            <div class="col fill s1">
              <input type="text" placeholder="COUNT" size="1" style="width:100%">
            </div>
            <div class="col fill s1">
              <input type="text" placeholder="DELAY" size="1" style="width:100%">
            </div>
            <div class="col fill s1">
              <input type="text" placeholder="RANGE" size="1" style="width:100%">
            </div>
            <div class="col fill s1">
              <input type="text" placeholder="BONUS-DAMAGE" size="1" style="width:100%">
            </div>
            <div class="col fill s7">
              <input type="text" name="TAGS" placeholder="TAGS" size="1" style="width:100%">
            </div>

            <div class="col fill s1">
              <input type="text" placeholder="HOT-LOADED" size="1" style="width:100%">
            </div>
            <div class="col fill s1">
              <input type="text" placeholder="AREA DAMAGE" size="1" style="width:100%">
            </div>
            <div class="col fill s1">
              <input type="text" placeholder="AREA WIDTH" size="1" style="width:100%">
            </div>
            <div class="col fill s9">
              <input type="text" placeholder="AREA HEIGHT" size="1" style="width:100%">
            </div>

          </div>

          <button style="position:absolute;right:2.3rem;bottom:1.2rem;background-color:rgba(0,0,0,0.43);color:#dad6a9;" class="btn-floating btn-large hoverable">
            <i class="material-icons">save</i>
          </button>
        </div>
      </div>
    </div>
    <div class="col s3" style="height:100%">
      <div class="card paint background hoverable" style="height:calc(100% - 3rem)">
        <div class="card-content" style="height:calc(100% - 1.5rem)">
          <p>WAZZUP!?!?!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="center-align white-text" style="position:fixed;opacity:0.65;left:0;right:0;top:10%;bottom:10%;background-color:black">
  <h1>UNDER CONSTRUCTION</h1>
  <a routerLinkActive="true" routerLink="/" style="color:white" class="btn-flat">RETURN</a>
</div>









