<div class="row" style="margin: 1.5rem 0.75rem 0;height:100%;">
  <div class="col s9">
    <div class="card paint">
      <div class="card-content paint">
        <p>WAZZUP!?!?!</p>
      </div>
    </div>
    <div class="card paint">
      <div class="card-content paint">
        <p>WAZZUP!?!?!</p>
      </div>
    </div>
  </div>
  <div class="col s3" style="height:100%">
    <div class="card paint">
      <div class="card-content paint">
        <p>WAZZUP!?!?!</p>
      </div>
    </div>
  </div>
</div>
