<div class="row container grey-text text-darken-2 center-align" style="margin-bottom:12px; margin-top:18px">
  <div class="col s12">
    <div class="white hoverable row" style="margin: 0; padding-bottom: 8px">
      <div class="col s12"><!--style="margin-bottom: 8px;"-->
        <div class="grey card-panel darken-2" style="margin-bottom: 8px">
          <h1 class="center-align white-text">
            BASE [10] STUDIOS
          </h1>
        </div>
      </div>
      <div class="col s4">
        <button id="btn1" class="btn-flat white waves-effect waves-purple" style="width:100%"><b>ABOUT</b></button>
      </div>
      <div class="col s4">
        <b10-search></b10-search>
      </div>
      <div class="col s4">
        <button id="btn2" class="btn-flat white waves-effect waves-green" style="width:100%"><b>TEAM</b></button>
      </div>
    </div>
  </div>
</div>
