<div class="row container">
  <div class="col s2">
    <div class="card" [style.height]="height + 'px'">
      <div class="card-content" [style.background-color]="bgColorLight" [style.height]="height/3 + 'px'"></div>
      <div class="card-content" [style.background-color]="bgColorMed" [style.height]="height/3 + 'px'"></div>
      <div class="card-content" [style.background-color]="bgColorDark" [style.height]="height/3 + 'px'"></div>
    </div>
  </div>
  <div class="col s8">
    <div id="upload-panel" class="card" [style.color]="color">
      <div class="card-content" [style.background-color]="bgColorLight">
        <input class="center-align" type="text" [(ngModel)]="title" placeholder="TITLE" style="font-size:37px">
        <div style="position:relative;" class="btn waves-effect waves-white center-align" [style.background-color]="color">
          ARTICLE
          <input id="upload-file-art" type="file">
        </div>
        <div style="position:relative;" class="btn waves-effect waves-white center-align" [style.background-color]="color">
          IMAGE
          <input id="upload-file-img" type="file">
        </div>
      </div>
      <div class="card-content" [style.background-color]="bgColorMed">

      </div>
      <div class="card-content">
        <p class="range-field">
          <input type="range" class="paint" [(ngModel)]="hue" min="0" max="360">
        </p>
        <p class="range-field">
          <input type="range" class="paint" [(ngModel)]="saturation" min="0" max="100">
        </p>
      </div>
      <div class="card-content">
        <button (click)="uploadArticle()" class="btn-flat white waves-effect waves-white center-align" [style.color]="color" style="width:100%">
          SUBMIT
        </button>
      </div>
      <div class="card-content">
        <p class="paint-text">{{status}}</p>
      </div>
    </div>
  </div>
  <div class="col s2">
    <div class="card" [style.height]="height + 'px'">
      <div class="card-content" [style.background-color]="bgColorLight" [style.height]="height/3 + 'px'"></div>
      <div class="card-content" [style.background-color]="bgColorMed" [style.height]="height/3 + 'px'"></div>
      <div class="card-content" [style.background-color]="bgColorDark" [style.height]="height/3 + 'px'"></div>
    </div>
  </div>
</div>



