@keyframes exit {
  0%   {opacity: 1; position:relative; top: 0;}
  10%  {opacity: 0; position:relative; top: 22vh;}
  100% {opacity: 0;}
}
.exit{
  animation: exit 7s linear;
}

button, button:hover {
  background-color: transparent;
  border: none;
}

body::-webkit-scrollbar {
  display: none;
}

hr {
  height: 2px;
  border: none;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}
a, a p, a b p, a b{
  color: inherit;
  cursor: hand !important;
}
div, a, .card, .card.card-content, .card.card-image, img {
  border-radius: 0 !important;
}

.card-content .content p {
  margin-bottom: 1rem;
}
.card-content .content h6 {
  margin-bottom: 0.75rem;
  margin-top: 2.25rem;
}
.row {
  margin-bottom: 1.5rem;
  margin-top: 0;
}
.card {
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.paint {
  transition: 0.7s;
}

.paint-text {
  transition: 0.7s;
}


