hr {
  height: 2px;
  border: none;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}
a {
  color: inherit;
}
div, a, .card, .card-content .card-image{
  border-radius: 0 !important;
}

.input {
  border: none;
}

.input:hover { border: none; }
.input:active{ border: none; }
.input:valid { border: none; }
.input:focus { border: none; }

.card .card-content .content p {
  margin-bottom: 1rem;
}
.card .card-content .content h6 {
  margin-bottom: 0.75rem;
  margin-top: 2.25rem;
}
.btn-flat {
  color:inherit;
}
.row {
  margin-bottom: 1.5rem;
  margin-top: 0;
}
.col .fill{
  overflow-x: hidden;
  padding-left:0;
  padding-right:0;
}
.card {
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.paint {
  transition: 0.12s;
}

.paint-text {
  transition: 0.12s;
}

input[type=range] + .thumb {
  background-color: inherit;
}
input[type=range]::-webkit-slider-thumb{
  background-color: inherit;
}
input[type=range]::-moz-range-thumb{
  background-color: inherit;
}
input[type=range]::-ms-thumb{
  background-color: inherit;
}

input[type=file]{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  opacity:0;
  -webkit-filter: alpha(opacity=0);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.16);
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.16);
}
body {
  scrollbar-face-color: rgba(0, 0, 0, 0.16);
  scrollbar-track-color: rgba(0, 0, 0, 0.16);
}
