/* You can add global styles to this file, and also import other style files */
.square {
  position: relative;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.input {
  border: none;
}

.input:hover { border: none; }
.input:active { border: none; }
.input:valid { border: none; }
.input:focus { border: none; }

.card .card-content .content p {
  margin-bottom: 1rem;
}

.card .card-content .content h6 {
  margin-bottom: 0.75rem;
  margin-top: 2.25rem;
}

.btn-flat {
  color:inherit;
}

.row {
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.card {
  margin-bottom: 1.5rem;
  margin-top: 0;
}

/*input[type=range] + .thumb .value {*/
  /*background-color: inherit;*/
/*}*/
input[type=range] + .thumb {
  background-color: inherit;
}
input[type=range]::-webkit-slider-thumb{
  background-color: inherit;
}
input[type=range]::-moz-range-thumb{
  background-color: inherit;
}
input[type=range]::-ms-thumb{
  background-color: inherit;
}

input[type=file]{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  opacity:0;
  -webkit-filter: alpha(opacity=0);
}
